.App {
  text-align: center;
}
.article-card{
  border-style: none;
  width:27vw;
  background: rgb(228, 228, 228);
  margin-left: 3vw;
  margin-bottom: 3vw;
}
.all-articles{
  display:flex;
  flex-wrap: wrap;
}
.header{
  border: dotted;
}
.header-top{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-bottom{
  display:flex;
  border: dotted;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: content-box;
  align-items: center;
}
.topic-list{
  display:flex;
  justify-content: flex-start;
  margin: 0;
}
.topic{
  margin-right: 1vw;
}
.article-search{
  padding: 0;
  height: 2vw;
  margin-right: 3vw;
}

.title{
  text-indent: 2vw;
}

